/* 全局样式 */

* {
    font-size: 14px;
    margin: 0;
    padding: 0;
}


/* header区域样式 */

header {
    position: relative;
    height: 120px;
    background-color: aqua;
}

header .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

header>.container>img {
    margin: 20px auto;
    height: 85px;
}

header .container nav {
    float: right;
}


/* nav区域样式 */

nav ul {
    list-style: none;
}

nav ul li {
    margin: 60px auto auto;
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
}

nav a {
    color: white;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
}

nav ul li:first-child {
    background-color: blue;
}

nav ul li:nth-child(2) {
    background-color: blueviolet;
}

nav ul li:nth-child(3) {
    background-color: chocolate;
}

nav ul li:nth-child(4) {
    background-color: indigo;
}

nav ul li:nth-last-child(3) {
    background-color: red;
}

nav ul li:nth-last-child(2) {
    background-color: cadetblue;
}

nav ul li:last-child {
    background-color: darkred;
}

nav ul li:hover {
    padding-bottom: 5px;
}

nav ul li.active {
    padding-bottom: 10px;
}


/* section区域样式 */

.main {
    position: relative;
    width: 1200px;
    height: 650px;
    margin: 35px auto 0;
}


/* 上面区域样式 */

.midtop {
    overflow: hidden;
    background-color: azure;
    border-bottom: 2px solid cyan;
}

.midtop h1 {
    text-align: center;
    font-size: 40px;
    background-color: darkturquoise;
    color: darkorchid;
}

.midtop video {
    float: left;
    display: block;
    margin: 80px 20px;
    height: 400px;
    background-color: black;
    border: 2px solid darkturquoise;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.midtop form {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 500px;
    margin-top: 20px;
}

.midtop label {
    font-size: 18px;
    margin-bottom: 5px;
}

.midtop input[type="text"],
.midtop input[type="email"],
.midtop textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.midtop input[type="submit"],
.midtop input[type="reset"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: darkturquoise;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.midtop input[type="submit"]:hover,
.midtop input[type="reset"]:hover {
    background-color: darkorchid;
}

#messages {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ebb35ebd;
    font-family: Arial, sans-serif;
}

#messages div {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
    color: #333;
}

#messages div span.email {
    color: #666666;
}